<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("furima-logo-color.png", class:"furima-icon"), "/" %>
    <form class="search-form" action="#">
      <input class='input-box' placeholder='キーワードから探す'>
      <button class="search-button">
        <%= image_tag "search.png", class:"search-icon" %>
      </button>
    </form>
  </div>
  <div class='nav'>
    <ul class='lists-left'>
      <li><%= link_to 'カテゴリー', "#", class: "category-list", id: "category" %>
        <ul class="category-lists hidden", id="pull-down">
          <li><%= link_to 'レディース', category_path(2) , class: "pull-down-list" %></li>
          <li><%= link_to 'メンズ', category_path(3), class: "pull-down-list" %></li>
          <li><%= link_to 'ベビー・キッズ', category_path(4), class: "pull-down-list" %></li>
          <li><%= link_to 'インテリア・住まい・小物', category_path(5), class: "pull-down-list" %></li>
          <li><%= link_to '本・音楽・ゲーム', category_path(6), class: "pull-down-list" %></li>
          <li><%= link_to 'おもちゃ・ホビー・グッズ', category_path(7), class: "pull-down-list" %></li>
          <li><%= link_to '家電・スマホ・カメラ', category_path(8), class: "pull-down-list" %></li>
          <li><%= link_to 'スポーツ・レジャー', category_path(9), class: "pull-down-list" %></li>
          <li><%= link_to 'ハンドメイド', category_path(10), class: "pull-down-list" %></li>
          <li><%= link_to 'その他', category_path(11), class: "pull-down-list" %></li>
        </ul>
      </li>
      <li><%= link_to 'ブランド', "#", class: "brand-list" %></li>
    </ul>
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, user_path(current_user), class: "user-nickname" %> </li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>